.container {
  display: flex;
}

.checkbox {
  height: 0;
  width: 0;
  visibility: hidden;
}

.background {
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 4.75em;
  height: 2.5em;
  background: grey;
  border-radius: 50px;
  position: relative;
  transition: background-color 0.2s;
}

.background .button {
  position: absolute;
  display: flex;
  top: 2px;
  left: 2px;
  width: calc(100% / 2);
  height: calc(100% - 4px);
  border-radius: 45px;
  transition: 0.2s;
  background: #fff;
  box-shadow: 0 0 2px 0 rgba(10, 10, 10, 0.29);
}

.checkbox:checked + .background .button {
  left: calc(100% - 2px);
  transform: translateX(-100%);
}

.background:active .button {
  width: 2.75em;
}
