@import "./variables.scss";

.bar {
  background-color: $secondary-color;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  color: $accent-color;
}
